.product-page {
  padding: 60px 100px;
}

.product-page h1 {
  font-size: 42px;
  margin-bottom: 40px;
}

.product-grid {
  display: grid;

  grid-template-columns:
  repeat(auto-fit, minmax(250px, 1fr));

  gap: 30px;
}